{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'service/img/ala.jpg' %}" alt="image not found" style="height:350px; width:100%;">
            <hr style="background-color: blue;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
            <h4>ALA</h4>
            Amhara Leadership Academy established by proclamation number 221/2007 for the realization of
            political
            leaders that have strong scientific and democratic moral principles, that can highly able to achieve
            democratic and good governance goals, strives to serve equality and democratic unity, believe in
            rule of
            law and perform developmental democratic political economy scientifically by providing short and
            medium
            term training, long term regular education as well as consultancy and research and development
            services.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <p>
            <h5>Mission</h5>
            Our mission is to establish organization used to develop effective leadership that ensures the
            sustainability of renewal journey, to give appropriate response for the renewal forum request and
            achieve the country’s vision properly, be initiating scientific and sustainable ideas, having
            greater substance with respect to education, training, research, observation, analysis and
            internalize in the region.
            </p>
        </div>
        <div class="col-md-4 mb-5">
            <p>
            <h5> Vision </h5>
            Amhara Leadership Academy strives to become a reputable center of political leadership, change, and
            excellence across the Country by the year 2017.
            </p>
        </div>
        <div class="col-md-4 mb-5">
            <p>
            <h5> Location </h5>
            ALA is located in Bahir Dar, the capital city of Amhara National Regional State. It is situated in the
            south east of the city near the main campus of B/Dar university.
            The ALA covers an area of 19 hectares and is one of most comfortable institution in the region. The
            buildings which are constructed in the place of near the great Abay river (Blue Nile), the gardening
            which impressed everybody is the main one to be ALA preferred.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 offset-md-3">
            <b> The services which we provided are: </b>
            <ul style="list-style: disc;">
                <li>Training service</li>
                <li>Consultancy service</li>
                <li>Facilities:
                    <ul style="list-style: circle;">
                        <li>bed Facilities
                            <ul style="list-style: square;">
                                <li>double and single beds</li>
                            </ul>
                        </li>
                        <li>Refreshment
                            <ul style="list-style: square;">
                                <li>coffee, tea, fast foods</li>
                            </ul>
                        </li>
                        <li>Food Facilities
                            <ul style="list-style: square;">
                                <li>can serve up to 1000 peoples at once</li>
                            </ul>
                        </li>
                        <li>Meeting Hall & Discussion Room Rent</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}