{% extends 'service/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="h4 text-success">Training Services</div>
        <hr style="background-color: blue;">
        </div>
    </div>
    <div class="row">
        <form action="#" method="POST">
            <div class="col-md-4">
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                        <label class="form-check-label" for="work_ethics">
                            Work ethics and Attitude
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                        <label class="form-check-label" for="mind_set">
                            Mind set and Emotional Intelligence
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                        <label class="form-check-label" for="project_mngt">
                            Project Management
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="change_mngt" name="change_mngt">
                        <label class="form-check-label" for="change_mngt">
                            Change Management
                        </label>
                    </div>
                </div>
                <!-- new -->
            </div>
            <div class="col-md-4">
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                        <label class="form-check-label" for="work_ethics">
                            Work ethics and Attitude
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                        <label class="form-check-label" for="mind_set">
                            Mind set and Emotional Intelligence
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                        <label class="form-check-label" for="project_mngt">
                            Project Management
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="change_mngt" name="change_mngt">
                        <label class="form-check-label" for="change_mngt">
                            Change Management
                        </label>
                    </div>
                </div>
                <!-- new -->
            </div>
            <div class="col-md-4">
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="community_mobilazation" name="community_mobilazation">
                        <label class="form-check-label" for="community_mobilazation">
                            Community Mobilization
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="decision_making" name="decision_making">
                        <label class="form-check-label" for="decision_making">
                            Decision Making and Problem solving
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="kaizen_mngt" name="kaizen_mngt">
                        <label class="form-check-label" for="kaizen_mngt">     	
                            Kaizen Management
                        </label>
                    </div>
                </div>
                <!-- new -->
                <!-- next check box -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="commn_report_writing" name="commn_report_writing">
                        <label class="form-check-label" for="commn_report_writing">
                            Communication and Report Writing
                        </label>
                    </div>
                </div>
                <!-- new -->
            </div>
        </form>
    </div>
</div>
{% endblock content %}