{% extends 'service/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="h4 text-success">Training Services</div>
            <hr style="background-color: blue;">
        </div>
    </div>
    <!-- {% comment %} second row {% endcomment %} -->
    <div class="row">
        <div class="col-md-12">
            <form action="#" method="POST"></form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                </div>
                <!-- new -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                </div>
                <!-- new -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr style="background-color: blue;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h6>Do you want services? &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'service:service_item' %}"> Yes
                        </a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'service:index' %}"> No </a></h6>
                </div>
                <div class="col-md-4"></div>
            </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}