{% extends 'service/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="h4 text-success">Training Services</div>
            <hr style="background-color: blue;">
        </div>
    </div>
    <!-- {% comment %} second row {% endcomment %} -->
    <div class="row">
        <div class="col-md-12">
            <form action="#" method="POST"></form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="work_ethics" name="work_ethics">
                            <label class="form-check-label" for="work_ethics">
                                Work ethics and Attitude
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="change_mngt" name="change_mngt">
                            <label class="form-check-label" for="change_mngt">
                                Change Management
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="conflict_mngt" name="conflict_mngt">
                            <label class="form-check-label" for="conflict_mngt">
                                Organizational Conflict Management
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="transfornational_leadership" name="transfornational_leadership">
                            <label class="form-check-label" for="transfornational_leadership">
                                Transformational Leadership
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mentoring" name="mentoring">
                            <label class="form-check-label" for="mentoring">
                                Coaching and Mentoring
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="men_evaluation" name="men_evaluation">
                            <label class="form-check-label" for="men_evaluation">
                                Monitoring and Evaluation
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="planning_mngt" name="planning_mngt">
                            <label class="form-check-label" for="planning_mngt">
                                Strategic Planning Management
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="time_mngt" name="time_mngt">
                            <label class="form-check-label" for="time_mngt">
                                Time Management
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="team_building" name="team_building">
                            <label class="form-check-label" for="team_building">
                                Team Building
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="customer_service_non_bussiness" name="customer_service_non_bussiness">
                            <label class="form-check-label" for="customer_service_non_bussiness">
                                Customer service for non Business sector
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="customer_service_bussiness" name="customer_service_bussiness">
                            <label class="form-check-label" for="customer_service_bussiness">
                                Customer service for Business sector
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="community_mobilization" name="community_mobilization">
                            <label class="form-check-label" for="community_mobilization">
                                Community Mobilization
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="decision_making" name="decision_making">
                            <label class="form-check-label" for="decision_making">
                                Decision Making and Problem solving
                            </label>
                        </div>
                    </div>
                    <!-- first next here -->
                </div>
                <!-- new -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mind_set" name="mind_set">
                            <label class="form-check-label" for="mind_set">
                                Mind set and Emotional Intelligence
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="kaizen" name="kaizen">
                            <label class="form-check-label" for="kaizen">
                                Kaizen Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="report_wtitting" name="report_wtitting">
                            <label class="form-check-label" for="report_wtitting">
                                Communication and Report Writing
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hrc" name="hrc">
                            <label class="form-check-label" for="hrc">
                                Human Resource Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="finance_mngt" name="finance_mngt">
                            <label class="form-check-label" for="finance_mngt">
                                Public Finance Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="meeting_mngt" name="meeting_mngt">
                            <label class="form-check-label" for="meeting_mngt">
                                Meeting Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="training_of_trainies" name="training_of_trainies">
                            <label class="form-check-label" for="training_of_trainies">
                                Training of Trainers
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="secretary_science" name="secretary_science">
                            <label class="form-check-label" for="secretary_science">
                                Secretary Science and Record Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gender_development" name="gender_development">
                            <label class="form-check-label" for="gender_development">
                                Gender Development and Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Entrepreneurship" name="Entrepreneurship">
                            <label class="form-check-label" for="Entrepreneurship">
                                Business plan and Entrepreneurship
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="good_governance" name="good_governance">
                            <label class="form-check-label" for="good_governance">
                                Good Governance
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="material_mngt" name="material_mngt">
                            <label class="form-check-label" for="material_mngt">
                                Material Management
                            </label>
                        </div>
                    </div>
                    <!-- second next here -->
                </div>
                <!-- new -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="project_mngt" name="project_mngt">
                            <label class="form-check-label" for="project_mngt">
                                Project Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="balance_of_core_card" name="balance_of_core_card">
                            <label class="form-check-label" for="balance_of_core_card">
                                Balance core Card
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bus_proce_engineering" name="bus_proce_engineering">
                            <label class="form-check-label" for="bus_proce_engineering">
                                Business Process Engineering
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tourism_mngt" name="tourism_mngt">
                            <label class="form-check-label" for="tourism_mngt">
                                Tourism Management
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="urban_leadership" name="urban_leadership">
                            <label class="form-check-label" for="urban_leadership">
                                Urban Leadership
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="role_of_leadership" name="role_of_leadership">
                            <label class="form-check-label" for="role_of_leadership">
                                Organizational Culture Building and the Role of Leadership 
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="resource_mobilization" name="resource_mobilization">
                            <label class="form-check-label" for="resource_mobilization">
                                Resource Mobilization
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="peace_development" name="peace_development">
                            <label class="form-check-label" for="peace_development">
                                Peace Development and Conflict Resolution
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="life_skill" name="life_skill">
                            <label class="form-check-label" for="life_skill">
                                Life Skill
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rular_leadership" name="rular_leadership">
                            <label class="form-check-label" for="rular_leadership">
                                Rural Leadership
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="future_direction" name="future_direction">
                            <label class="form-check-label" for="future_direction">
                                The Amhara Gross Corridor  Challenges and Future Direction
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="public_trust" name="public_trust">
                            <label class="form-check-label" for="public_trust">
                                Public Trust and Government
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="nation_building" name="nation_building">
                            <label class="form-check-label" for="nation_building">
                                The Role of Youth in Nation Building
                            </label>
                        </div>
                    </div>
                    <!-- third next here -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <hr style="background-color: blue;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <b><a href="{% url 'service:consultancy_service' %}"> &nbsp;&nbsp;&nbsp;&nbsp; Consultancy services</a></b>
                </div>
                <div class="col-md-4">
                    <h6> Do you want other services? &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'service:service_item' %}"> Yes
                        </a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'service:index' %}"> No </a></h6>
                </div>
                <div class="col-md-4"></div>
            </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}