{% extends "service/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="h4 text-success">{{ user.username }}, welcome to your profile page!</div>
<hr style="background-color: brown;">
<div class="container">
  <div class="row">
    <!-- <div class="col-md-2 service">
        <ul style="list-style-type: none; border: 1px solid rgb(170, 141, 146);">
          <li><a href="#">Training</a></li>
          <li><a href="{{ user_n.water }}">Water</a></li>
          <li><a href="#">Refreshment</a></li>
          <li><a href="#">Breakfast</a></li>
          <li><a href="#">Lunch</a></li>
          <li><a href="#">Dinner</a></li>
          <li><a href="#">Bed</a></li>
          <li><a href="#">Notebook</a></li>
          <li><a href="#">Syndicate Room</a></li>
          <li><a href="#">LCd</a></li>
          <li><a href="#">Flip chart</a></li>
          <li><a href="#">Hall</a></li>
        </ul>
      </div> -->
    <div class="col-md-12">
      <div class="content-section">
        <div class="row">
          <div class="col-md-12 offset-md-6">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"
              style="height: 100px; width: 100px;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h6 class="account-heading"><b>welcome,{{ user.username }}</b></h6>

                {% for user_n in user_profile %}
                {% if user.id == user_n.user_id %}
                <div class="display_table">
                <table border="1" class="table">
                  <thead>
                    <tr>
                      <th>User id</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Gender</th>
                      <th>Worked For</th>
                      <th>Location</th>
                      <th>Water</th>
                      <th>Lunch</th>
                      <th>Dinner</th>
                      <th>Brakefast</th>
                      <th>Refreshment</th>
                      <th>Dorm</th>
                      <th>Block</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>{{user_n.id}}</td>
                    <td>{{ user_n.first_name }}</td>
                    <td>{{ user_n.last_name }}</td>
                    <td>{{ user_n.gender }}</td>
                    <td>{{ user_n.worked_for }}</td>
                    <td>{{ user_n.location }}</td>
                    <td>{{ user_n.water }}</td>
                    <td>{{ user_n.lunch }}</td>
                    <td>{{ user_n.dinner }}</td>
                    <td>{{ user_n.brakefast }}</td>
                    <td>{{ user_n.refreshment }}</td>
                    <td>{{ user_n.dorm }}</td>
                    <td>{{ user_n.block }}</td>
                  </tr>
                  <!-- <a href="#" class="btn btn-outline-primary">see more of your profile</a> -->
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>

        <!--  FORM HERE -->
      </div>
      <p class="small"><b><a href="#">update your profile</a></b></p>
    </div>
  </div>

</div>

{% endblock content %}